<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
    <title> - 询价项目明细</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}?v=3.3.6" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}?v=4.4.0" rel="stylesheet">

    <!-- Data Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/cropper/cropper.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/jasny/jasny-bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/nouslider/jquery.nouislider.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">



    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}?v=4.1.0" rel="stylesheet">
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInRight">
         <div class="row">
             <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>询价项目明细</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="commentForm" action="#"  method="post">
                            {% csrf_token %}
                        {% for foo in Projectdb %}
                             <div class="form-group">
                                <label class="col-sm-3 control-label">询价类型：</label>
                                <div class="col-sm-6">
                                        {% if foo.type == 1 %}公开询价{% else %}邀请报价{% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">项目名称：</label>
                                <div class="col-sm-8">
                                    {{ foo.projectName }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">项目编号：</label>
                                <div class="col-sm-8">
                                    {{ foo.projectNo }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系人：</label>
                                <div class="col-sm-8">
                                    {{ foo.contacts }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系电话：</label>
                                <div class="col-sm-8">
                                    {{ foo.phone }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">开始日期：</label>
                                <div class="col-sm-8">
                                            {{ foo.start_date.isoformat }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">结束日期：</label>
                                <div class="col-sm-8">
                                           {{ foo.end_date.isoformat }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">状态：</label>
                                <div class="col-sm-6">
                                    {% if foo.state == 0 %}
                                          <span class="badge badge-info">询价中</span>
                                       {% elif  foo.state == 1 %}
                                           <span class="badge badge-warning">比价中</span>
                                       {% elif foo.state == 2 %}
                                           <span class="badge badge-primary">结果公示</span>
                                       {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">备注：</label>
                                <div class="col-sm-8">
                                    {{ foo.notes }}
                                </div>
                            </div>
                        {% endfor %}

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">

                                    <button class="btn btn-primary" type="submit">报价</button>
                        <button type="button" class="btn btn-outline btn-default" onclick="javascript:history.back(-1);">返回</button>
                                </div>
                            </div>
                        </form>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseOne">询价明细(点击 缩进/展开)</a>
                                            </h5>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">



                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>材料（设备）名称</th>
                                    <th>规格型号</th>
                                    <th>品牌</th>
                                    <th>单位</th>
                                    <th>数量</th>
                                    <th>管理</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for foo in Itemdb %}
                                <tr class="gradeU">
                            <form class="form-horizontal m-t" id="commentForm" action="/project/edititemsave/" method="post">
                                {% csrf_token %}
                                    <td>
                                    <input id="itemName" value="{{ foo.itemName }}" type="text" class="form-control" name="itemName" required="" aria-required="true">
                                    </td>
                                    <td>
                                    <input id="Specs" value="{{ foo.Specs }}" type="text" class="form-control" name="Specs" required="" aria-required="true">
                                    </td>
                                    <td>
                                    <input id="Brand" value="{{ foo.Brand }}" type="text" class="form-control" name="Brand" required="" aria-required="true">
                                    </td>
                                    <td>
                                    <select id="Unit" data-placeholder="选择单位..." class="chosen-select" name="Unit" style="width:150px;" tabindex="2">
                                        {% for fo in unitList %}
                                        <option value="{{ fo.unitName }}" hassubinfo="true" {% if fo.unitName == foo.Unit %} selected{% endif %}>{{ fo.unitName }}</option>
                                        {% endfor %}
                                    </select>
                                    </td>
                                    <td>
                                    <input id="Count" value="{{ foo.Count }}" type="text"  name="Count" required="" aria-required="true">
                                    </td>
                                    <td class="center">
                                    <input id="itemID" value="{{ foo.itemID }}" type="hidden"  name="itemID">
                                    <input id="projectId" value="{{ foo.projectId }}" type="hidden"  name="projectId">

                                    <button type="submit" class="btn btn-primary btn-xs">修改</button>
                                        <a class="btn btn-danger btn-xs" href="/project/deleteitem/?id={{ foo.itemID }}" >删除</a>
                                    </td>
                            </form>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="addItem" tabindex="-1" role="dialog"  aria-hidden="true">
    <form class="form-horizontal m-t" id="commentForm" action="/project/additemsave/" method="post">
        {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content animated flipInY">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">询价明细单个录入</h4>
                        <small class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                            <div class="form-group"><label>材料（设备）名称</label>
                                    <input id="itemName" type="text" class="form-control" name="itemName" required="" aria-required="true"></div>
                            <div class="form-group"><label>规格型号</label>
                                    <input id="Specs" type="text" class="form-control" name="Specs" required="" aria-required="true"></div>
                            <div class="form-group"><label>品牌</label>
                                    <input id="Brand" type="text" class="form-control" name="Brand" required="" aria-required="true"></div>
                            <div class="form-group"><label>单位</label>
                                    <select id="Unit" data-placeholder="选择单位..." class="form-control" name="Unit" style="width:150px;" tabindex="2">
                                        {% for fo in unitList %}
                                        <option value="{{ fo.unitName }}" hassubinfo="true">{{ fo.unitName }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                            <div class="form-group"><label>数量</label>
                                    <input id="Count" type="text" class="form-control" name="Count" required="" aria-required="true">

                                    <input id="projectId" value="{{ pid }}" type="hidden"  name="projectId">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-white" >提交</button>
                        <button type="button" class="btn btn-group" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
    </form>
    </div>
    <!-- 全局js -->
    <script src="{% static 'js/jquery.min.js' %}?v=2.1.4"></script>
    <script src="{% static 'js/bootstrap.min.js' %}?v=3.3.6"></script>

    <!-- 自定义js -->
    <script src="{% static 'js/content.js' %}?v=1.0.0"></script>



    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

    <!-- JSKnob -->
    <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

    <!-- Input Mask-->
    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

    <!-- Data picker -->
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

    <!-- Prettyfile -->
    <script src="{% static 'js/plugins/prettyfile/bootstrap-prettyfile.js' %}"></script>

    <!-- NouSlider -->
    <script src="{% static 'js/plugins/nouslider/jquery.nouislider.min.js' %}"></script>

    <!-- Switchery -->
    <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>


    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>


    <!-- Toastr script -->
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>

    <!-- layerDate plugin javascript -->
    <script src="{% static 'js/plugins/layer/laydate/laydate.js' %}"></script>
    <script>
        //外部js调用
        laydate({
            elem: '#hello', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });

        //日期范围限制
        var start = {
            elem: '#start',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
    </script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable();

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            });


        });

    </script>

    <!-- jQuery Validation plugin javascript-->
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/plugins/validate/messages_zh.min.js' %}"></script>
    <script src="{% static 'js/demo/form-validate-demo.js' %}"></script>
    <script src="{% static 'js/demo/form-advanced-demo.js' %}"></script>

</body>
</html>